*{
    font-family: 'Noto Sans TC', sans-serif;
    font-family: 'Tiro Devanagari Sanskrit', serif;
}

body {
    background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
    background-size:cover;
  }

.inProgress{
    /* width: 80%; */
    padding: 0.5rem;
    background-color: bisque;
}

.cardText{
    padding: 0.5rem;
    background-color: khaki;
}

.aweIconCenter{
    align-self: center;
    text-align: center;
}

.cardDate{
    float: right;
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0.1em 0.5rem 0.1rem 0.5rem;
    width: 8rem;

}

.cardDate > input{
    height: 1.5rem;
}

.fixHeight{
    height: 84vh;
}

.fixHeightHeadAndFoot{
    height: 6vh;
}

.fixHeightInProgress{
    height: 30vh;
}

.fixHeightFinish{
    height: 12vh;
}

.fixHeightItem{
    height: 12vh;
}

.ppliconw {
    width: 40px!important;
}

.ppliconw1 {
    width: 50px!important;
}

.snsIcon{
    width: 2rem;
    height: 2rem;
}